.cardsContainer{
    margin: 20px;
}

.cardBody,.cardHeader{
    background-color: #282c34;
    color: aliceblue;
}

.card{
    position: relative;
    max-width: 20rem;
    max-height: 45rem;
    margin-bottom: 20px;
    border: none !important;
}
.cardHeader{
    background-color: #282c34;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
    margin: 0;
}

.movieTitle, .text-muted{
    position: relative;
    max-width: 100%;
    font-size: 12px;
    font-weight: 800;
    text-align: left;
    margin: 0;
}
h4, h3, h2{
    color: aliceblue !important;
}
.cardBody{
    position: relative;
}

.cardImage{
    object-fit: cover;
    top: 0;
    left: 0;
}

.cardOverlay{
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    opacity: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}

.cardText{
    align-self: center;
    justify-self: center;
    font-size: 12px;
    text-align: left;
    overflow: scroll;
}

.cardOverlay:hover{
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    opacity: 1;
}

.glyphicon{
    font-size: 30px;
    color: aliceblue;
}

.glyphicon:hover{
    color: aquamarine;
}

.ant-modal-body {
    padding: 0 !important;
    background-color: black;
}