.row {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
}


h2, p {
    text-align: left;
}

.poster {
    border-radius: 15px;
    border: 1px solid black;
    margin: 10px;
    width : 140px; 
    height: 220px;
}

.details{
    }