.searchInput {
    margin: 0 auto;
    width: 30%;
    outline: none;
    padding: 0;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
}
input:focus:active {
    background-color: none;
}
a,
button,
input,
select,
textarea {
    -webkit-tap-highlight-color: #ccc;
}
.jumbotron {
    background-image: url('https://cdn.europosters.eu/image/1300/posters/rocky-cityscape-i6110.jpg');
    background-repeat: none;
    background-size: cover;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contentContainer{
display: flex;
flex-wrap: wrap;
width:90%;
margin: 0 auto;
justify-content: space-around;
}

.loadingContainer {
    width:80vw;
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 720px){
    .searchInput{
        width: 100%;
    }
}
@media only screen and (max-width: 375px){
    .jumbotron {
        margin-bottom: 0;
    }

    .searchInput{
        width: 100%;
    }
}