.App {
  text-align: center;
  background: #0F2027;
background: -webkit-linear-gradient(to right, rgb(28, 52, 63), rgb(109, 1, 82), #0F2027);
background: linear-gradient(to right, #0F2027, rgb(89, 99, 94), #0F2027); 
padding-bottom: 100px;
margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 40px;
  padding-right: 40px;
}

.appTitle{
  color: aliceblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}